.alarm-spinner {
  position: relative;
}

.alarm-spinner::before,
.alarm-spinner::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.alarm-spinner::before {
  width: 15.7px;
  height: 15.7px;
  background: #474bff;
}

.alarm-spinner::after {
  width: 56px;
  height: 56px;
  animation: spinner-y7ej37 1s infinite linear;
  border: 11.2px solid #474bff;
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes spinner-y7ej37 {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
