@import "../fonts/stylesheet.css";
@import "../styles/primeflex.css";

* {
  font-family: var(--font-family);
  color: var(--text-color);
}

*::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

html,
body {
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0; 
}

input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--surface-border);
}
input::placeholder {
  color: var(--font-color);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  transition: all .3s ease-in-out;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}
button.red {
  background-color: var(--red-600);
}
button.yellow {
  background-color: var(--yellow-600);
}
button.green {
  background-color: var(--green-600);
}
button.outline {
  background-color: none;
}

main {
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.split-button {
  display: flex;
}

.split-button button {
  border-radius: 0;
  background-color: var(--surface-border);
  color: var(--text-color);
}

.split-button button.active, .split-button button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.split-button button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.split-button button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}