@import "../fonts/stylesheet.css";
@import "../styles/primeflex.css";

:root {
  --surface: #1b1b1b;
  --card: #333;

  --primary-color: #474bff;

  --font-color: #fff;
  --font: 'Google Sans';

  --green: #3dd600;
  --red: #d10303;
  --yellow: #cc9e05;
}

* {
  font-family: var(--font);
  color: var(--font-color);
}

*::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

html, body {
  background-color: var(--surface);
  margin: 0;
  padding: 0;
}

input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--card);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}
button.red {
  background-color: var(--red);
}
button.yellow {
  background-color: var(--yellow);
}
button.green {
  background-color: var(--green);
}
button.outline {
  background-color: none;
}