<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Журнал Активности</title>

    <link rel="stylesheet" href="globals.css">
    <link rel="stylesheet" href="../styles/alarm-spinner.css">
    <script src="jquery.js"></script>
  </head>
  <body>
    <div style="-webkit-app-region: drag;backdrop-filter: blur(40px);" class="top-0 left-0 flex z-5 fixed surface-hover w-12 mb-4 align-items-center justify-content-between">
      <div class="ml-2 flex align-items-center">
        <span class="font-bold text-xl mr-2">GTA Journal</span>
        <span style="background-color: var(--primary-color); border-radius: 5px;padding: 5px 10px;" class="font-bold text-md">ALPHA</span>
      </div>
      <div class="flex align-items-center mr-2 z-2" style="-webkit-app-region: none;">
        <span id="window_hide" style="margin-top: -16px;" class="z-2 font-bold select-none cursor-pointer p-2 text-xl">_</span>
        <span id="window_close" class="z-2 font-bold select-none cursor-pointer p-2 text-xl">х</span>
      </div>
    </div>
    <main>
      <section id="loading" style="height: 80vh;" class="w-12 flex flex-column align-items-center justify-content-center">
        <div class="alarm-spinner"></div>
      </section>
      <section id="login" class="flex flex-column align-items-center justify-content-center hidden">
        <span class="text-2xl font-bold mx-auto mb-4">Введите данные</span>
        <input class="mb-2" type="text" name="login" id="login_input" placeholder="Логин">
        <input class="mb-2" type="password" name="password" id="password_input" placeholder="Пароль">
        <button id="login_button">Войти</button>
      </section>
      <section id="actions" class="flex flex-column justify-content-center hidden">
        <span class="mx-auto text-2xl mb-2">Вошли как <span id="activity-nickname" class="font-bold text-2xl"></span></span>
        <span class="mx-auto text-2xl mb-3">Вы сейчас <span id="activity-status" class="font-bold text-2xl"></span></span>
        <div class="mx-auto flex gap-2">
          <button class="green" id="online_button">Онлайн</button>
          <button class="yellow" id="afk_button">АФК</button>
          <button class="red" id="offline_button">Оффлайн</button>
        </div>
        <div class="flex mt-3 mb-2 gap-2 align-items-center justify-content-center">
          <button id="refresh_button" >Обновить информацию</button>
          <button id="logout_button" class="red">Выйти</button>
        </div>
        <div class="grid mx-auto">
          <div class="col">
            <span id="online_users_title" class="mx-auto mt-3 mb-2 font-bold text-2xl">Онлайн пользователи</span>
            <div id="online_users" class="flex flex-column gap-2 mt-2 mx-2"></div>
          </div>
          <div class="col">
            <span id="afk_users_title" class="mx-auto mt-3 mb-2 font-bold text-2xl">АФК пользователи</span>
            <div id="afk_users" class="flex flex-column gap-2 mt-2 mx-2"></div>
          </div>
          <div class="col">
            <span id="offline_users_title" class="mx-auto mt-3 mb-2 font-bold text-2xl">Оффлайн пользователи</span>
            <div id="offline_users" class="flex flex-column gap-2 mt-2 mx-2"></div>
          </div>
        </div>
      </section>
    </main>

    <script type="module" src="script.js"></script>
  </body>
</html>
