<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Журнал Активности - Топ 10</title>

    <link rel="stylesheet" href="../../styles/globals.css">
    <link rel="stylesheet" href="../../styles/alarm-spinner.css">
    <link id="css-theme" rel="stylesheet" href="../../styles/dark.css" />
  </head>
  <body>
    <v-window-topbar></v-window-topbar>
    <main>
      <v-navigation></v-navigation>
      <section id="top:loading" style="height: 80vh;" class="w-12 flex flex-column align-items-center justify-content-center">
        <div class="alarm-spinner"></div>
      </section>
      <section id="top:info" class="flex flex-column justify-content-center hidden">
        <h1 class="mx-auto mb-0">Топ-10 пользователей по времени</h1>
        <h6 class="mt-1 mb-4 mx-auto">Не финальный вариант дизайна</h6>
        <table class="mx-auto p-2 surface-card border-round-xl shadow-4">
          <thead>
            <tr>
              <td style="width: 25px;" class="font-bold">#</td>
              <td style="width: 270px;" class="font-bold">Никнейм</td>
              <td style="width: 180px;" class="font-bold">Время онлайна</td>
              <td style="width: 150px;" class="font-bold">Последнее обновление</td>
            </tr>
          </thead>
          <tbody id="top:table:body"></tbody>
        </table>
      </section>
    </main>

    <script src="../../scripts/utils/theme-selector.js"></script>
    <script src="../../scripts/components/window-topbar.js"></script>
    <script src="../../scripts/components/navigation.js"></script>
    <script type="module" src="script.js"></script>
  </body>
</html>
