<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Журнал Активности - Ваша статистика</title>

    <link rel="stylesheet" href="../../styles/globals.css" />
    <link rel="stylesheet" href="../../styles/alarm-spinner.css" />
  </head>
  <body>
    <v-window-topbar></v-window-topbar>
    <main>
      <v-navigation></v-navigation>
      <section
        id="stats:loading"
        style="height: 80vh"
        class="w-12 flex flex-column align-items-center justify-content-center"
      >
        <div class="alarm-spinner"></div>
      </section>
      <section
        id="stats:info"
        class="flex flex-column justify-content-center hidden"
      >
        <table class="surface-card p-2 border-round-xl mx-4 overflow-y-auto">
          <tbody>
            <tr>
              <td class="p-2 font-bold">Понедельник</td>
              <td class="p-2 font-bold">Вторник</td>
              <td class="p-2 font-bold">Среда</td>
              <td class="p-2 font-bold">Четверг</td>
              <td class="p-2 font-bold">Пятница</td>
              <td class="p-2 font-bold">Суббота</td>
              <td class="p-2 font-bold">Воскресенье</td>
              <td class="p-2 font-bold">Недельный</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <script src="../../scripts/components/window-topbar.js"></script>
    <script src="../../scripts/components/navigation.js"></script>
    <script type="module" src="script.js"></script>
  </body>
</html>
