<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Журнал Активности - Загрузка</title>

    <link rel="stylesheet" href="../../styles/globals.css">
    <link id="css-theme" rel="stylesheet" href="../../styles/dark.css" />
    <link rel="stylesheet" href="../../styles/alarm-spinner.css">
  </head>
  <body>
    <main>
      <div style="height: 80vh;" class="w-12 flex flex-column align-items-center justify-content-center">
        <div class="alarm-spinner"></div>
      </div>
    </main>

    <script src="../../scripts/utils/theme-selector.js"></script>
    <script src="script.js"></script>
  </body>
</html>
