<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Журнал Активности - Вход</title>

    <link rel="stylesheet" href="../../styles/globals.css">
    <link rel="stylesheet" href="../../styles/alarm-spinner.css">
  </head>
  <body>
    <v-window-topbar></v-window-topbar>
    <main>
      <section id="login:loading" style="height: 80vh;" class="w-12 flex flex-column align-items-center justify-content-center">
        <div class="alarm-spinner"></div>
      </section>
      <section id="login:form" class="flex flex-column align-items-center justify-content-center hidden">
        <span class="text-2xl font-bold mx-auto mb-4">Введите данные</span>
        <input class="mb-2" type="text" name="login" id="login:input:login" placeholder="Логин">
        <input class="mb-2" type="password" name="password" id="login:input:password" placeholder="Пароль">
        <button id="login:button">Войти</button>
      </section>
    </main>

    <script src="../../scripts/components/window-topbar.js"></script>
    <script type="module" src="script.js"></script>
  </body>
</html>
